{% extends 'base.html' %} 

{% block head_nav %}
    <a class="nav-item nav-link disabled" href="#">Login here</a>
    <a class="nav-item nav-link disabled" href="#">Register!</a>
    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Log Out</a>
{% endblock head_nav %}


{% block content %}

<section>

    <h2 class="mb-3 title">Welcome {{ username }}, to Riddle Me This!</h2>
    <div class="col-auto">
        <img class="riddle-image" {% autoescape false %}{{ riddle_me_this[riddleNumber][ "image"] }}{% endautoescape %} <p class="mb-5 riddle noselect">{{ riddle_me_this[riddleNumber]["riddle"] }}</p>
    </div>

</section>

<section>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="flashes success" role="alert">
        {% for message in messages %}
        <div class="notice">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %} {% endwith %}

</section>

<section>

    <p>
        <strong>Have you the answer?</strong> Type in your answer below!
        <br>(eg. glass of wine)</p>
    <form method="POST" class="form-inline">
        <input type="text" class="form-control" placeholder="answer" name="answer" id="answer" required autofocus>
        <input type="hidden" name="riddleNumber" id="riddleNumber" value={{riddleNumber}}>
        <button class="btn btn-secondary" type="submit" onclick="getData">submit</button>
    </form>

</section>

{% endblock %}
