{% extends 'base.html' %} 

{% block content %}

<section>
    <h2 class="title title-script">Welcome {{ username }}, to Riddle Me This!</h2>
    <h5 class="subtitle title-script">Old Style Riddles from The Project Gutenberg</h5>
</section>


<section>
    <div class="col-12 my-auto mt-auto py-3">        
        <div class="row">
            <img class="riddle-image" {% autoescape false %}
            {{ riddle_me_this[riddleNumber][ "image"] }}
            {% endautoescape %}>                
                    
            <div class="row">
                <p class="riddle noselect text-script">{{ riddle_me_this[riddleNumber]["riddle"] }}</p>
            </div>
        </div>         
        
        
        <div class="col-12">
            <div class="row ml-4">                

            {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %}
            {% for category, message in messages %}
              <div class=" alert {{ category }}">
                <div class="notice text-script">          
                  {{ message }}              
                </div>
              </div>
            {% endfor %}
            {% endif %}   
            {% endwith %} 

            
            <div class="row">
                <p><strong>Have you the answer?</strong> Type in your answer below!
                    <br>(eg. glass of wine)</p>
            </div>

            <form method="POST" class="form-inline">
                <div class="row ml-4">
                    <input type="text" class="form-control" placeholder="answer" name="answer" id="answer" required autofocus>
                    <input type="hidden" name="riddleNumber" id="riddleNumber" value={{riddleNumber}}>
                </div>
                <div class="row mt-2 ml-4">
                    <button class="btn btn-secondary" type="submit" onclick="getData"><i class="fas fa-chevron-circle-right"></i> Submit</button>                        
                </div>
            </form>

        </div>
    </div>
</section>

{% endblock content %}


{% block footer %}
{% endblock footer %}