{% extends 'base.html' %} 
{% block content %}
<h2>{{ page_title }}</h2>


<div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                              <div class="navbar-nav">
                                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login here</a>
                                <a class="nav-item nav-link" href="{{ url_for('signup') }}">Register!</a>
                                
                              </div>
                            </div>
                          </nav>  
                        <div class="masthead-content text-white py-5 py-md-0">
                            <h1 class="mb-3">Riddle Me This!</h1>
                                <p class="mb-5">Old Style Riddles from The Project Gutenberg</p>
                    <div class="input-group input-group-newsletter">                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}