{% extends 'base.html' %} 
{% block content %}
          <h2 class="mb-3">{{ username }}</h2>
          <div class="col-auto">{% autoescape false %}{% endautoescape %}</div>
          <p class="mb-5"></p>
          <p>
              {% with messages = get_flashed_messages() %} {% if messages %}
              <ul class="flashes">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
              </ul>
              {% endif %} {% endwith %}
            </p>
{% endblock %}