{% extends 'base.html' %} {% block content %}

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{ url_for('index') }}">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link disable" href="#">Login here</a>
      <a class="nav-item nav-link diabele " href="#">Register!</a>
      <a class="nav-item nav-link" href="{{ url_for('logout') }}">Log Out</a>
    </div>
  </div>
</nav>

<section>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-5">
        <div class="masthead-content text-white py-5 py-md-0">
          <h2 class="mb-3 title">Riddle Me This!</h2>
          <h5 class="mb-5 subtitle">{{ username }}'s Leaderboard</h5>
          <img class="cover-image" src="{{ url_for('static', filename='images/p001-illus.jpg')}}" alt="The Book of Riddles">
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-5">
        <div class="masthead-content text-white py-5 py-md-0">
          {% with messages = get_flashed_messages() %} {% if messages %}
          <div class="flashes">
            <ol class="flashes">
              {% for scores in player_scores %}
              <li>{{ scores }}</li>
              {% endfor %}
            </ol>
            <hr class="line"> {% for message in messages %}
            <div class="flashes">
              <ul>
                <li>
                  {{ message }}</li>
              </ul>
            </div>
            {% endfor %} {% endif %} {% endwith %}
          </div>
        </div>
      </div>
    </div>
</section>

<section>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-5">
        <div class="masthead-content text-white py-5 py-md-0">
          <div class="footer">
            <hr class="line ">
            <p>Milestone 3 Project
              <br> for the Code Institute</p>
            <p class="copyright text-muted ">by
              <span class="strong">Duncan Falconer</span>, 2018</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}