{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {% block title %} Register {% endblock %} {% block content
%}

<div class="masthead">
    <div class="masthead-bg"></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{ url_for('index') }}">Home
                    <span class="sr-only">(current)</span>
                </a>
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login here</a>
                <a class="nav-item nav-link" href="{{ url_for('signup') }}">Register!</a>

            </div>
        </div>
    </nav>
    
    <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 my-auto">
                    <div class="masthead-content text-white py-5 py-md-0">
                        <h2 class="mb-3">Riddle Me This!</h2>
                        <p class="mb-5">Old Style Riddles from The Project Gutenberg</p>
                        <p><strong>To Play</strong>! Sign in with your username, using the form below!</p>
                        <form class="form-signin" method="POST" action="/login">
                            {{ form.hidden_tag() }} {{ wtf.form_field(form.username) }} 
                            {% with messages = get_flashed_messages() %} {% if messages %}
                            <ul class="flashes">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                            {% endif %} {% endwith %}
                            {{ wtf.form_field(form.password) }} {{ wtf.form_field(form.remember)
                            }}
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit" value="Log in">Lets Play!</button>
                            </div>
                        </form>
                        <div class="input-group input-group-newsletter">                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}