{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} 

{% block head_nav %}
    <a class="nav-item nav-link" href="{{ url_for('login') }}">Login here</a>
    <a class="nav-item nav-link" href="{{ url_for('signup') }}">Register!</a>
    <a class="nav-item nav-link disabled" href="#">Log Out</a>
{% endblock head_nav %}


{% block content %}

<section>
    
    <h2 class="mb-3 title">Riddle Me This!</h2>
    <h5 class="mb-5 subtitle">Old Style Riddles from The Project Gutenberg</h5>

</section>

<section>

    <strong>To Play</strong>! Sign in with your username, using the form below!</p>
    {% if error %}
    <p class=error>
        <strong>Error:</strong> {{ error }} 
    {% endif %}
        <form class="form-signin" method="POST" action="/login">
            {{ form.hidden_tag() }} {{ wtf.form_field(form.username) }} 
            {% with messages = get_flashed_messages() %} 
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} 
            {% endwith %} 
            {{ wtf.form_field(form.password) }} {{ wtf.form_field(form.remember) }}
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" value="Log in">Lets Play!</button>
            </div>
        </form>

</section>

{% endblock %}
