{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} 

{% block head_nav %}
  <a class="nav-item nav-link" href="{{ url_for('login') }}">Login here</a>
  <a class="nav-item nav-link" href="{{ url_for('signup') }}">Register!</a>
  <a class="nav-item nav-link disabled" href="#">Log Out</a>
{% endblock head_nav %}


{% block content %}

<section>

  <h2 class="mb-3 title">Riddle Me This!</h2>
  <h5 class="mb-5 subtitle">Old Style Riddles from The Project Gutenberg</h5>

</section>

<section>

  <p>
    <strong>To Register</strong>! Type in a uername and password, into the form below!</p>
  <form class="form-signin" method="POST" action="/signup">
    {{ form.hidden_tag() }} {{ wtf.form_field(form.username) }} 
    {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %}
            {% for category, message in messages %}
              <div class="alert {{ category }}">
                <div class="messages">          
                  {{ message }}              
                </div>
              </div>
            {% endfor %}
          {% endif %}   
            {% endwith %} 
    {{ wtf.form_field(form.password) }}
    <div class="input-group-append">
      <button class="btn btn-secondary" type="submit" value="Log in">Lets Play!</button>
    </div>
  </form>

</section>

{% endblock %}
