{% extends 'base.html' %} {% block content %}
<h2>{{ page_title }}</h2>


<div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            <h1 class="mb-3">Riddle Me This!</h1>
            <p class="mb-5">Old Style Riddles from The Project Gutenberg</p>
              <p><strong>To Play</strong>! Sign in with your own new username, using the form below!</p>
            <div class="input-group input-group-newsletter">
                {% with messages = get_flashed_messages() %} {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %}
              <form method="POST">
                <label form="username">Username:</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="User name..." aria-label="Enter name..." aria-describedby="basic-addon">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">Lets Play!</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}